[submodule "sut/minecraft/mineflayer-testbench"]
	path = sut/minecraft/mineflayer-testbench
	url = https://github.com/se-fbk/MineflayerTestbench
	branch = main
[submodule "sut/minecraft/minecraftlib"]
	path = sut/minecraft/minecraftlib
	url = https://github.com/iv4xr-project/minecraftlib
	branch = main
