burlap.algorithm=QLearning
burlap.num_of_episodes=200

# --- tabular QLearning ---
burlap.qlearning.qinit=0.1
burlap.qlearning.lr=0.25
burlap.qlearning.gamma=0.59
burlap.qlearning.epsilonval=0.5
burlap.qlearning.decayedepsilonstep=0.95

# --- DeepQLearning ---
burlap.qlearning.dqn_lr=0.001
burlap.qlearning.epsilonmin=0.1
burlap.network.hidden_size=32

burlap.network.replay_buffer_capacity=10000
burlap.network.batch_size=16
burlap.network.min_replay_size=16
burlap.network.target_update_frequency=20