game.mode=training
game.burlapConfig=src/test/resources/configurations/burlap_test.config
game.lrSingleAgent=true
game.lrSingleAgentSutConfig=src/test/resources/configurations/lrLevelSingleAgent.config
game.lrMultiAgentSutConfig=src/test/resources/configurations/lrLevelMultiAgent.config

game.mineAgentSutConfig=src/test/resources/configurations/mineAgent.config
game.mineAgentBurlapConfig=src/test/resources/configurations/burlap_minecraft.config
game.mineAgentUseBaseline=false