labrecruits.level_name=buttons_doors_1
labrecruits.level_folder=src/test/resources/levels/
labrecruits.execution_folder=.
labrecruits.agent_id=agent1
labrecruits.use_graphics=true
labrecruits.testingsession=true
labrecruits.memory_clean_interval_action=2
labrecruits.exploreEventOn=true
labrecruits.max_ticks_per_action=100
labrecruits.max_actions_per_episode=200
labrecruits.target_entity_name=button3
labrecruits.target_entity_type=Switch
labrecruits.target_entity_property_name=isOn
labrecruits.target_entity_property_value=true
labrecruits.search_mode=GoalOriented
labrecruits.functionalCoverage=true
labrecruits.rewardtype=CuriousityDriven
