labrecruits.level_name=level_large_4agents
labrecruits.level_folder=src/test/resources/levels/
labrecruits.execution_folder=sut
labrecruits.agentpassive_ids=agent2,agent3,agent4
labrecruits.agentactive_id=agent1
labrecruits.use_graphics=true
labrecruits.max_ticks_per_action=120
labrecruits.max_actions_per_episode=200
labrecruits.testingsession=false
labrecruits.memory_clean_interval_action=2
labrecruits.exploreEventOn=true
labrecruits.actionOnlySwitch=true
labrecruits.target_entity_name=door16
labrecruits.target_entity_type=Door
labrecruits.target_entity_property_name=isOpen
labrecruits.target_entity_property_value=true
labrecruits.search_mode=CoverageOriented
labrecruits.functionalCoverage=true
labrecruits.rewardtype=CuriousityDriven