labrecruits.level_name=samira_4room2Agents
labrecruits.level_folder=src/test/resources/levels/
labrecruits.execution_folder=.
labrecruits.agentpassive_id=agent1
labrecruits.agentactive_id=agent2
labrecruits.use_graphics=false
labrecruits.max_ticks_per_action=60
labrecruits.max_actions_per_episode=80
labrecruits.testingsession=true
labrecruits.memory_clean_interval_action=2
labrecruits.exploreEventOn=true
labrecruits.target_entity_name=door8
labrecruits.target_entity_type=Door
labrecruits.target_entity_property_name=isOpen
labrecruits.target_entity_property_value=true
labrecruits.search_mode=CoverageOriented
labrecruits.functionalCoverage=true
labrecruits.rewardtype=Sparse